h1{
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    font-style: normal;
    line-height: 80px;
    font-weight: bold;
}
h4{
    color: white;
}

.all-list{
    display: flex;
    /* justify-content: left; */
    justify-content: space-between;
    background-color:#2D25A0;
    left: 156px;
}
.box{
    margin-right: 50px;
}
.list-ordinary{
    display: flex;
    padding-left: 40px;
    
}
.list-special{
    margin-left: 200px;
}
#top-right-button{
    color: #FFFFFF;
    background-color: #E02C6D;  
}
.half-width{
left: 156px;
top: 207px;
}


.top-img{
    width: 556.01px;
height: 438px;
left: 1299.01px;
top: 153px
}
/* #2D25A0; */
.top-banner{
    justify-content: center;
    position: relative;
    display: flex;
    background-color:#2D25A0;
}
.top-button{
    color: #FFFFFF;
    background-color: #E02C6D;
    width: 166.35px;
    height: 44px;
    font-size:20px ;
    
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 77px;
    margin-top: 79px;
    margin-left: 165px;
    margin-bottom: 165px;
    background-color: #FFFFFF;

    
    
}
.player{
    width: 330px;
    height: 474px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;  
    padding: 10px;
    
}
.player img{
    
    width:300px;
    height: 256px;
}
.highlights{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 69px;
    margin-left: 182px;
}

.cell h2{
    font-weight: bold;
font-size: 48px;
line-height: 60px;
}
.cell img{
width: 567px;
height: 427px;
}
.final {
margin-top: 158px;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
}
.final .game img{ width: 50%;
margin-left: 200px;}

/* -----------Media quary
mobile device-------------------- */

@media only screen and (max-width: 688px){.players{
    grid-template-columns: repeat(1, 1fr);
justify-content: end;}.top-banner{
        flex-direction: column;}.highlights{
            grid-template-columns: repeat(1,1fr);
            justify-content: end;
            
        }.cell img{width: 100%;}
}

/* * -----------Media quary
Tablet device-------------------- */ 
@media only screen and (min-width: 688px) and (max-width: 992px){
    .players{grid-template-columns: repeat(2, 1fr);
             
            
}
}   